@font-face {
  font-family: 'RobotoSlab-Regular';
  src: src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
    url('fonts/RobotoSlab-Regular.ttf') format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab-Bold';
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url('fonts/RobotoSlab-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
}

html {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "RobotoSlab-Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.header-container {
  padding: 10px 5px;
  background: #54D169;
  background-image: linear-gradient(45deg, #54D169 0%, #70DC6E 31%, #70DC6E 31%, #7BE070 42%, #7BE070 42%, #91E974 67%, #92E975 68%, #92EA75 68%, #AFF57A 100%);  
}

/* Top Info */
.artSong-header {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  font-family: 'RobotoSlab-Bold';
  font-size: 14px;
  color: #565454;
}

.header-player-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  margin: 0 auto;
  max-width: 700px;
}

/* Controls */
.header-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}  

.player-button {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.9;
}

.player-button:hover {
  opacity: 1;
}

.playHeader {
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-2-2h24v24H-2z'/%3E%3Cpath d='M8 14.5l6-4.5-6-4.5v9zM10 0C4.48 0 0 4.48 0 10s4.48 10 10 10 10-4.48 10-10S15.52 0 10 0zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z' fill='%23D43855'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  cursor: pointer;
}

.pauseHeader {
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-2-2h24v24H-2z'/%3E%3Cpath d='M7 14h2V6H7v8zm3-14C4.48 0 0 4.48 0 10s4.48 10 10 10 10-4.48 10-10S15.52 0 10 0zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm1-4h2V6h-2v8z' fill='%23000'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  cursor: pointer;
}

.pauseHeader {
  display:none;
}

.previousHeader {
  background: url("data:image/svg+xml,%3Csvg width='15' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-7-6h29v24H-7z'/%3E%3Cpath d='M.25 0h2.417v12H.25V0zm4.23 6l10.27 6V0L4.48 6z' fill='%23000'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
  background-size: 70%;
  background-position: 50% 50%;
  cursor: pointer;
}

.nextHeader {
  background: url("data:image/svg+xml,%3Csvg width='15' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-7-6h29v24H-7z'/%3E%3Cpath d='M.25 12l10.27-6L.25 0v12zM12.333 0v12h2.417V0h-2.417z' fill='%23000'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
  background-size: 70%;
  background-position: 50% 50%;
  cursor: pointer;
}

/* Progress */
.duration-player {
  position: relative;
  box-sizing: border-box;
  height: 18px;
  margin-right: 10px;
  min-width: 300px;  
  background: white;
  border: 2px solid #979797;
  box-shadow: 0 0 0 4px RGBA(113, 188, 125, 0.7);
  cursor:pointer;
}

#progress {
  position: absolute;
  height: 15px;
  top: 0;
  left: 0;
  width: 15%;
  background-color: red;
  z-index: 1;
}

/* Timer */
.duration-timer {
  display: flex;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.timer-header:after {
  content: ' / ';
  font-size: 16px;
  white-space: pre;
}

/* Volume */
.volume-header {
  display: flex;
  align-items: center;
}

.volumeOff-header {
  position: relative;
  background: url("data:image/svg+xml,%3Csvg width='18' height='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-2-2h22v18H-2z'/%3E%3Cpath d='M.75 4.75v4.5h3.667L9 13V1L4.417 4.75H.75zM13.125 7c0-1.327-.935-2.468-2.292-3.022v6.037C12.19 9.467 13.125 8.327 13.125 7zM10.833.422v1.545c2.65.645 4.584 2.655 4.584 5.033 0 2.377-1.934 4.387-4.584 5.033v1.545C14.51 12.895 17.25 10.21 17.25 7c0-3.21-2.74-5.895-6.417-6.578z' fill='%23000'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
  background-size: 70%;
  background-position: 50% 50%;
}

input[type='range'] {
  width: 70px;
  height: 7px;
  background: white;
  border: 1px solid black;
  outline: none;  
  -webkit-appearance: none;
}


/* Playlist */
.container {
  display: block;
  min-height: 500px;
  max-width: 700px;
  margin: 0 auto;
  font-size: 16px;
}

.list-song,
.list-song1 {
  display: flex;
  position: relative;
  align-items: center;
  max-width: 700px;
  height: 55px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.4);
  padding: 10px;
  padding-right: 55px;
}

.list-song:before {
  content: '';
  width: 40px;
  height: 40px;
  margin-right: 25px;
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-2-2h24v24H-2z'/%3E%3Cpath d='M8 14.5l6-4.5-6-4.5v9zM10 0C4.48 0 0 4.48 0 10s4.48 10 10 10 10-4.48 10-10S15.52 0 10 0zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z' fill='%23D43855'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  cursor: pointer;  
}

.list-song1:before {
  content: '';
  width: 40px;
  height: 40px;
  margin-right: 25px;
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M-2-2h24v24H-2z'/%3E%3Cpath d='M7 14h2V6H7v8zm3-14C4.48 0 0 4.48 0 10s4.48 10 10 10 10-4.48 10-10S15.52 0 10 0zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm1-4h2V6h-2v8z' fill='%23000'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  cursor: pointer;  
}

.list-song:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.download {
  width: 40px;
  height: 40px;
  border: 10px solid transparent;
  position: absolute;
  right: 0;
  top: 8px;  
  background: url("data:image/svg+xml,%3Csvg width='29' height='26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M2 1h24v24H2z'/%3E%3Cpath d='M18 14h-3V4h-2v10h-3l4 4 4-4zM6 20v2h16v-2H6z' fill='%23000'/%3E%3Cpath stroke='%23242424' d='M.5.5h28v25H.5z'/%3E%3C/g%3E%3C/svg%3E")no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}